<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.padunime.animemanager">
    <uses-sdk
        android:targetSdkVersion="30"
        android:maxSdkVersion="30"
        tools:overrideLibrary="androidx.appcompat"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application



        android:allowBackup="true"
        android:icon="@mipmap/anime_manager_icon"
        android:roundIcon="@mipmap/anime_manager_icon_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetailActivity" android:label="@string/detail_view"/>
        <activity android:name=".AnimeViewUser" android:label="@string/my_animes" />
        <activity android:name=".AnimeViewNameDesc"
            android:label="@string/name_desc"/>
        <activity
            android:name=".AnimeViewNameAsc"
            android:label="@string/name_asc" />
        <activity android:name=".AnimeViewScoreDesc" android:label="@string/score_desc" />
        <activity android:name=".AnimeViewScoreAsc" android:label="@string/score_asc"/>
        <activity android:name=".SettingsActivity" />

        <activity android:name=".AnimeViewActivity" android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

        </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7638828914626114~7039476170"/>

    </application>

</manifest>